 body {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.clock-container {
    position: relative;
    background: #2f363e;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25), 
    inset 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.clock-container .circle{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.25);
}
.clock-container .circle2{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.circle2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
.clock-container .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
    padding: 0.8rem;
}
  
.clock-container .number1 { --rotation: 30deg; }
.clock-container .number2 { --rotation: 60deg; }
.clock-container .number3 { --rotation: 90deg; }
.clock-container .number4 { --rotation: 120deg; }
.clock-container .number5 { --rotation: 150deg; }
.clock-container .number6 { --rotation: 180deg; }
.clock-container .number7 { --rotation: 210deg; }
.clock-container .number8 { --rotation: 240deg; }
.clock-container .number9 { --rotation: 270deg; }
.clock-container .number10 { --rotation: 300deg; }
.clock-container .number11 { --rotation: 330deg; }
  
.clock-container .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
  
.clock-container::after {
    content: '';
    position: absolute;
    background-color: red;
    border: 1px solid black;
    z-index: 11;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
  
.clock-container .hand.second {
    width: 3px;
    height: 42%;
    background-color: red;
}
  
.clock-container .hand.minute {
    width: 5px;
    height: 38%;
    background-color: black;
}
  
.clock-container .hand.hour {
    width: 8px;
    height: 33%;
    background-color: black;
}